@import "./variables";
@import "./mixins";

* {
    @include control;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #337ab7;
    color: $text-color;

    ul {

        li {
            list-style: none;

            a {
                line-height: 2em;
                color: $text-color;
                text-decoration: none;
                @include hovered-link;
            }
        }

    }

    .footer-top {
        line-height: 1.5em;
        margin: 50px 90px 40px 80px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .footer-about-me {
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .bxl-facebook,
            .bxl-github,
            .bxl-linkedin {
                font-size: 20px;
                padding: 10px;
                margin-right: 5px;
                background-color: rgba(255, 255, 255, 0.162);
                border-radius: 50px;
                // @include hover-icon;
                transition: transform 0.2s;
            }

        }

        .bxl-facebook:hover {
            transform: translateY(-10px);
        }

        .bxl-github:hover {
            transform: translateY(-10px);
        }

        .bxl-linkedin:hover {
            transform: translateY(-10px);
        }

    }

    .footer-link {
        display: flex;
        flex-direction: column;

        .h2-link {
            margin-bottom: 30px;
        }
    }

    ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-buttom {
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }

    .footer-service {
        line-height: 2em;

        .h2-footer-service {
            margin-bottom: 20px;
        }
    }

    .footer-conact {
        line-height: 1.5em;

        .icon-footer {
            margin-bottom: 20px;
            display: flex;
        }

        i {
            @include hover-icon;
            margin-right: 20px;
        }

        .h2-footer-contact {
            margin-bottom: 30px;
        }
    }
}