@import "./variables";
@import "./mixins";

* {
    @include control;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text-color;
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/home-img/img-home-1.png) no-repeat center center/cover;
    height: 65vh;
    @include converted;
    padding: 100px 100px;

    .header-content {
        .h1-header {
            padding-top: 70px;
            font-size: 60px;
            margin: 0;
        }

        .h3-header {
            font-size: 40px;
            margin: 10px 0;
            font-weight: normal;
            #role{
                font-weight: bold;
                color: $teal-light;
            }
        }

        .par-header {
            font-size: 20px;
            margin-bottom: 20px;
        }

        .btn-header {
            display: inline-block;

            .hire-me {
                a {
                    color: $text-color;
                    text-decoration: none;
                }
                background: #3379b741;
                padding: 10px 30px;
                font-size: 18px;
                color: $text-color;
                border: 2px solid #337AB7;
                text-decoration: none;
                border-radius: 30px;
                font-weight: bold;
                transition: background-color 0.3s,
                color 0.3s;
            }

            .hire-me:hover {
                background-color: #337AB7;
                color: black;
            }


            .my-work {
                a {
                    color: $text-color;
                    text-decoration: none;
                }

                margin-left: 10px;
                background: #33b7b34d;
                padding: 10px 30px;
                font-size: 18px;
                color: $text-color;
                border: 2px solid #33B7B3;
                text-decoration: none;
                border-radius: 30px;
                font-weight: bold;
                transition: background-color 0.3s,
                color 0.3s;
            }

            .my-work:hover {
                background-color: #33B7B3;
                color: black;
            }
        }
    }

    .header-image {
        .my-img {
            display: none;
        }

        .my-img-2 {
            margin-top: 70px;
            object-fit: cover;
            box-shadow: rgb(6, 255, 255) 0px 2px 4px 0px, rgba(9, 181, 255, 0.32) 0px 2px 16px 0px;
            border: 4px solid #33B7B3;
            border-radius: 50%;
            width: 320px;
            background: #000;
            height: 320px;
        }
    }
}

@media (min-width:300px) and (max-width:600px) {
    .header {
        height: 60vh;
        overflow-x: hidden;
        margin: 0;
        padding: 0;

        #home {
            margin-left: 20px;

            .h1-header {
                font-size: 35px;
            }

            .h3-header {
                font-size: 20px;
            }

            .par-header {
                font-size: 16px;
            }

            .btn-header {
                .hire-me {
                    margin-right: 10px;
                    margin-bottom: 10px;
                }

                .my-work {
                    margin-left: -1px;
                }
            }
        }

        #image-header {
            #my-img-1 {
                margin-right: 30px;
                display: block;
                margin-top: 70px;
                object-fit: cover;
                box-shadow: rgb(6, 255, 255) 0px 2px 4px 0px, rgba(9, 181, 255, 0.32) 0px 2px 16px 0px;
                border: 4px solid #33B7B3;
                border-radius: 50%;
                width: 150px;
                background: #000;
                height: 150px;
            }
            .my-img-2{
                display: none;
            }
        }
    }

}

@media (min-width:768px) and (max-width:840px) {

    .header {
        margin: 0;
        padding: 0 20px;
        height: 50vh;

        .header-content {
            margin-top: -30px;
        }

        .header-image {
            display: block;

            .my-img {
                width: 300px;
                height: 300px;
            }
        }

        .img-header {
            display: none;

            .my-img-2 {
                display: none;
            }
        }
    }
}