@import "./variables";
@import "./mixins";

* {
    @include control;
}

nav {
    .menu-icon {
        display: none;
    }

    @include position-nav;
    @include converted;
    padding: 20px 50px;
    background-color: #337ab7;
    color: $text-color;

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        .h2-name{
            font-size: 30px;
            font-family: serif;
        }
        .logo-img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }
    }

    ul {
        margin-right: 100px;
        display: flex;
        gap: 30px;

        li {
            list-style: none;

            a {
                font-size: 20px;
                font-weight: bold;
                text-decoration: none;
                color: $text-color;
                @include hovered-link;
            }
        }
    }
}

@media (min-width:300px) and (max-width:600px){
    nav{
        margin: 0;
        padding: 10px 0px 10px 10px;
        width: 100%;
        .logo{
            .h2-name{
                font-size: 20px;
            }
        }
        ul{
            margin: 0;
            padding: 0;
            gap: 8px;
            margin-right: 20px;
            li{
                a{
                    font-size: 12px;
                }
            }
        }
    }
}

@media (min-width:768px) and (max-width:840px) {
    nav {
        .menu-icon{
            display: none;
        }
        margin: 0;
        padding: 10px 0;

        .logo {
            margin-left: 10px;
        }

        ul {
            margin: 0 20px 0 0;
            padding: 0;
            gap: 20px;
            li{
                a{
                    font-size: 14px;
                }
            }
        }

    }
}

