@import './variables';
@import './mixins';

* {
    @include control;
}

.service-section {
    margin-top: 70px;
    margin-bottom: 20px;

    .h1-service {
        @include title-style;
    }

    .par-service-intro {
        @include paragraph-style;
    }

    .services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        margin: 0 100px 60px 100px;

        .service-box {
            text-align: center;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            @include service-box-hover;

            .service-icon {
                @include service-icon-style;
            }

            .service-title {
                @include service-title-style;
            }

            .service-description {
                font-size: 16px;
                color: #666;
            }
        }
    }
}

@media (min-width:768px) and (max-width:840px) {
    .service-section{
        margin: 30px 0 0 0;
        padding: 0;
        .services{
            margin: 0 40px 50px 40px;
            padding: 0;
            gap: 30px;
        }
    }
}

@media (min-width:300px) and (max-width:600px) {
    .service-section{
        margin: 30px 0 0 0;
        .services{
            width: 100%;
            gap: 30px;
            display: flex;
            flex-direction: column;
            .service{
                width: 90%;
                margin-left: -80px;
            }
        }
    }
}